# Laravel-specific folders and files
/.phpunit.cache
/vendor
/storage
/storage/*.key
/node_modules
/public/build
/public/hot
/public/storage
/storage/pail
.env
.env-original.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache

# Laravel caches and logs
bootstrap/cache/*
!bootstrap/cache/.gitignore

# Composer files
composer.phar

# IDE configuration files
*.idea
*.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# nicht benötigte docs-Dateien
docs/api
docs/api-cache
/public/media/
